.header {
  background-color: #007765;
  height: 85px;
  position: sticky;
  top: 0;
  font-family: Roboto, sans-serif;
}
.container {
  width: 90%;
  max-width: 1219px; /*максимальная ширина может иметь другое значение*/
  padding: 55px;
  padding-top: 30px;
  margin: 0 auto;
}
section {
  margin: auto;
}
body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  margin-right: auto;
  margin-left: auto;
}
.jumbotron {
  background: url("./images/image1.png");
  background-size: 100%;
  line-height: 30vw;
  height: 30vw;
  margin-top: -85px;
  color: white;
  text-align: center;
}
.theproblem {
  padding-top: 65px;
  padding-bottom: 80px;
  font-size: 32px;
}
figure {
  margin-top: 0px;
  float: left;
}

.team {
  padding-top: 45px;
  padding-bottom: 80px;
  font-size: 20px;
}
}
.ppc {

  font-size: 32px;
  margin-top: 95px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  color: #007765;
}
p {
  text-align: center;
}
.hero {
  background: url("./images/image2.png");
  background-size: 100%;
  color: white;
  text-align: center;
  background-size: 100%;
  line-height: 58px;
  height: 30vw;
  margin-top: -16px;
  font-size: 32px;
}
.footer {
  color: white;
  text-align: center;
  background-color: black;
  font-family: Roboto, sans-serif;
}
nav a {
  display: inline;
}
nav {
  float: right;
  text-align: center;
}
.logo {
  float: left;
}
table {
  margin: auto;
}
